
/* INÃCIO ESTILOS BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #E4E4E4;
    font-family: Arial, sans-serif;
}

#conteudo {
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#botao-menu {
    margin-bottom: 20px;
    background-color: #5E83AE;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#botao-menu:hover {
    background-color: #4C6E96;
}

#menu-lateral {
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
    background-color: #2A2A2A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

#menu-lateral > h2 {
    color: white;
    text-align: center;
}

#menu-lateral > ul {
    list-style: none;
    padding: 0;
}

#menu-lateral > ul > li {
    padding: 15px;
}

#menu-lateral a {
    width: auto;
    padding: 10px;
    color: #F9F5ED;
    background-color: #5E83AE;
    border-radius: 10px;
    text-decoration: none;
}

#menu-lateral a:hover {
    background-color: #4C6E96;
}

#container-conteudo {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 20px;
}

#container-conteudo > header {
	background-color: #5E83AE;
	color: white;
	text-align: center;
	padding: 20px;
}

.topicos {
	padding-left: 1.2%;
}

.topicos > li {
	padding: 0.2%
}

.referencia {
	padding: 0.3%;
	text-align: left;
}

.texto-formatado, .topicos > li {
	text-align: justify;
}

/* FIM ESTILOS BASE */
/* Coloque os novos estilos abaixo disso */
/* NAO MODIFIQUE OS ESTILOS ACIMA NEM ESTES COMENTARIOS */
 .navegacao {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.seta,
.seta-desativada {
    background-color: #415a77;
    color: white;
    border: none;
    padding: 10px 28px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
}

.seta-desativada {
    background-color: #868E97;
}

.seta:hover {
    background-color: #778da9;
}

#botao-voltar {
    margin-bottom: 20px;
    background-color: #5E83AE;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#botao-voltar:hover {
    background-color: #4C6E96;
}

.subtitulo {
    padding: 1% 0;
}

.texto-formatado {
    padding: 0.45% 0;
}

code {
    padding: 2px;
    background-color: lightgray;
    font-size: 15.5px;
}

.navegacao {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
  }
  
  .seta, .seta-desativada {
    background-color: #415a77;
    color: white;
    border: none;
    padding: 10px 28px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
  }
  
  .seta-desativada {
    background-color: #868E97;
  }
  
  .seta:hover {
    background-color:#778da9;


}

#paragrafo3e6{
    margin-bottom: 8px;
}

#referencias{
    text-align: left;
    font-size: 20px;
}



  .navegacao {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
  }
  
  .seta, .seta-desativada {
    background-color: #415a77;
    color: white;
    border: none;
    padding: 10px 28px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
  }
  
  .seta-desativada {
    background-color: #868E97;
    cursor: default;
  }
  
  .seta:hover {
    background-color: #778da9;
  }

